		/* Template CSS */
		
		body {
			background:#ededed !important;
		    color: #3d3d3d;
		    font-family: Verdana, Helvetica, Arial, sans-serif;
		    font-size:12px;
		    line-height: 1.2em;
		}
		strong {
			font-weight:bold;
		}
		em{
			font-style: italic;
		}
		
		a, a:active, a:visited {
			color:#7B8738;
			text-decoration:none;
		}
		a:hover, a:focus{
			color:#687329;
			text-decoration: none;
		}
		
		.ui-accordion-content a, .ui-accordion-content a:active, .ui-accordion-content a:visited{
			color:#7B8738 !important;
			text-decoration:none !important;
			font-size: 12px !important;
		}
		
		.ui-accordion-content a:hover, .ui-accordion-content a:focus{
			color:#687329 !important;
			text-decoration: none !important;
			font-size: 12px !important;
		}
		
		
		
		#micrositeHeader{
			min-height:0px !important;
			background: #ededed !important;
		}
		.headerHomepage .camo{
			width:950px !important;
		}
		.headerHomepage .camo img{
			float:right !important;
			margin-top:0px !important;
		}
		.rv6HeaderWidget{
            width: 100%;
            height: 122px;
            font-family: Verdana, Helvetica, Arial, sans-serif;
            background: #6a6a6a; /* Old browsers */ 
            background: -moz-linear-gradient(top, #858585 0%, #505050 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858585), color-stop(100%,#505050)); /* 		Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #858585 0%,#505050 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #858585 0%,#505050 100%); /* Opera11.10+ */
            background: -ms-linear-gradient(top, #858585 0%,#505050 100%); /* IE10+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#505050',GradientType=0 ); /* IE6-9 */
            background: linear-gradient(top, #858585 0%,#505050 100%); /* W3C */
            -webkit-box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);
            -moz-box-shadow:    0px 0px 4px rgba(153, 153, 153, 0.75);
            box-shadow:         0px 0px 4px rgba(153, 153, 153, 0.75);
        }
        .rv6HeaderWidget .container{
            width: 971px;
            margin: 0 auto;
        }
		.rv6HeaderWidget .camo{
			width:950px !important;
            background: url(/e2/rv6_images/homepage/header/camo.png) bottom left no-repeat;
			height: 122px;
		}
		.rv6HeaderWidget .camo img{
			float:right !important;
			margin-top:0px !important;
		}
        .rv6HeaderWidget .camo .hide, .rv6HeaderWidget .camo .hide2 {
            height: 1px;
            left: 0px;
            overflow: hidden;
            position: absolute;
            top: -500px;
            width: 1px;
        }
        .rv6HeaderWidget .headerStar{
			width:75px;
			height:91px;
			background: url(/e2/rv6_images/armyStar.png) no-repeat;
			float: right;
		    margin-right: -10px;
		    margin-top: 13px;
		    position: relative;
   		}
   		.rv6HeaderWidget .headerURL {
		    float: right;
		    height: 122px;
		    margin-right: -75px;
		    width: 795px;
		    z-index: -34;
		}
		.micrositeFacebookLikeWidget{
			margin: 0 auto !important;
			position: absolute !important;
			top: 78px !important;
			width: 950px !important;
		}
		#micrositeContainer{
		    background:#ededed !important;
		}
		#micrositeContent{
			width:950px !important;
			margin: 0 auto;
		}
		.headerWrap{
			width:100%;
		}
		.mainContentWrap{
			margin: 0 auto !important;
			width:961px;
			/*width:100%;*/
		}
		#micrositeLeftCol{
			width:680px;
			float:left;
			margin: 0 5px 20px 0;
			padding:3px 15px 15px 0;
		}
		#micrositeRightCol{
			width:250px;
			float: left;
			margin: 0 0 0 0px;
			padding-top:15px;
		}
		
		/*Widget Shadow and Margin */
		
		#micrositeRightCol .widgetWrap, #micrositeLeftCol .widgetWrap   {
			padding:1px;
			margin-bottom:10px;
		}
		.widgetWrap .rv6navBar   {
			padding:1px;
			width: 950px;
			margin: 0 auto;
			
		}
		
		#micrositeRightCol .widgetWrap, #micrositeLeftCol .widgetWrap {	
			-webkit-box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);
			-moz-box-shadow:    0px 0px 4px rgba(153, 153, 153, 0.75);
			box-shadow:         0px 0px 4px rgba(153, 153, 153, 0.75);
		}
		.rv6hide {
		    position:absolute;
		    left:0px;
		    top:-500px;
		    width:1px;
		    height:1px;
		    overflow:hidden;
		}
		
		/* Menu Widget */
		
		.rv6dropDownNav li a {
			font-size:12px;
		}	
		.liveSearch{
			width:257px !important;
		}
		.liveSeach #search{
			width: 83% !important;
		}
		
		/* Left Column Widgets */
		#micrositeLeftCol .widgetWrap{
			-webkit-box-shadow: 0px 0px 0px rgba(153, 153, 153, 0.0);
			-moz-box-shadow:    0px 0px 0px rgba(153, 153, 153, 0.0);
			box-shadow:         0px 0px 0px rgba(153, 153, 153, 0.0);
		}
		
		.featuredPhotos, .micrositeComrelWidget, #micrositeAccordion, .micrositeVideoPlayerBigWidget, .micrositeAssetsTextWidget, .micrositeAerialWidget, .micrositeNonAerialWidget, .micrositeOutreachWidget, .micrositeOutreachWidget2, .micrositeOutreachWidget3, .micrositeQuotesWidget, .micrositeResourcesWidget, .micrositeSpeakersWidget, .microsite2012SpeechesWidget, .microsite2011SpeechesWidget, .micrositeTextWidget, .micrositeTipsWidget, .micrositeComrelImageWidget, .micrositeContactComrelWidget, .micrositeNewYorkWidget, .micrositeChicagoWidget, .micrositeLosAngelesWidget  {
			padding:1px;
		    -webkit-box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);
			-moz-box-shadow:    0px 0px 4px rgba(153, 153, 153, 0.75);
			box-shadow:         0px 0px 4px rgba(153, 153, 153, 0.75);
		}
		
		.featuredPhotos{
			width:678px !important;
		}
		.micrositeTextWidget{
			background-color: #fff;
			padding:10px;
		}
		.eventPhotos{
			width: 579px !important;
		}
		/*.micrositeTagWidget {
			display:none;
		}*/
		.micrositeComrelWidget, .micrositeOutreachWidget, .micrositeOutreachWidget2, .micrositeOutreachWidget3, .micrositeQuotesWidget, .micrositeAssetsTextWidget, .micrositeAerialWidget, .micrositeNonAerialWidget, .micrositeResourcesWidget, .micrositeSpeakersWidget, .micrositeTipsWidget, .micrositeContactComrelWidget, .micrositeNewYorkWidget, .micrositeChicagoWidget, .micrositeLosAngelesWidget, .microsite2012SpeechesWidget, .microsite2011SpeechesWidget{
			background:#fff;
		}
		.micrositeComrelWidget p, .micrositeOutreachWidget p, .micrositeOutreachWidget2 p, .micrositeOutreachWidget3 p, .micrositeQuotesWidget p, .micrositeAssetsTextWidget p, .micrositeAerialWidget p, .micrositeNonAerialWidget p, .micrositeResourcesWidget ul, .micrositeSpeakersWidget p, .micrositeContactComrelWidget p, .micrositeNewYorkWidget p, .micrositeChicagoWidget p, .micrositeLosAngelesWidget p, .microsite2012SpeechesWidget p, .microsite2011SpeechesWidget p{
			padding:10px;
		}
		.micrositeAssetsTextWidget ul, .micrositeAerialWidget ul, .micrositeNonAerialWidget ul, .micrositeOutreachWidget ul {
			margin-left: 45px;
			padding-bottom: 10px;
		}
		.micrositeAssetsTextWidget ul li, .micrositeAerialWidget ul li, .micrositeNonAerialWidget ul li, .micrositeOutreachWidget ul li {
			list-style: disc;
		}
		.micrositeTipsWidget ol {
			margin-left: 30px;
			padding: 10px;
		}
		.micrositeTipsWidget ol li {
			list-style: decimal;
		}
		#micrositeAccordion, .micrositeVideoPlayerBigWidget{
			background-color:#fff;
		}
		#micrositeAccordion h3.ui-state-active, #micrositeAccordion h3:hover, #micrositeAccordion h3:focus{
			background: #ffe376;
			background: -moz-linear-gradient(top,  #ffe376 0%, #f7d554 74%, #f1ca38 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe376), color-stop(74%,#f7d554), color-stop(100%,#f1ca38));
			background: -webkit-linear-gradient(top,  #ffe376 0%,#f7d554 74%,#f1ca38 100%);
			background: -o-linear-gradient(top,  #ffe376 0%,#f7d554 74%,#f1ca38 100%);
			background: -ms-linear-gradient(top,  #ffe376 0%,#f7d554 74%,#f1ca38 100%);
			background: linear-gradient(to bottom,  #ffe376 0%,#f7d554 74%,#f1ca38 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe376', endColorstr='#f1ca38',GradientType=0 );
			font-size: 16px;
		}
		#micrositeAccordion h3, .micrositeComrelWidget h2, .micrositeOutreachWidget h2, .micrositeOutreachWidget2 h2, .micrositeOutreachWidget3 h2, .micrositeQuotesWidget h2, .micrositeAssetsTextWidget h2, .micrositeAerialWidget h2, .micrositeNonAerialWidget h2, h2.micrositeResourcesWidget, .micrositeSpeakersWidget h2, .micrositeTipsWidget h2, .micrositeContactComrelWidget h2, .micrositeNewYorkWidget h2, .micrositeChicagoWidget h2, .micrositeLosAngelesWidget h2, .microsite2012SpeechesWidget h2, .microsite2011SpeechesWidget h2{
			background: #707070;
			color:#fff;
			font-size: 16px;
			padding:5px;
			border-bottom: 1px solid #fff;
		}
		#micrositeAccordion a{
			color:#fff;
			font-size: 16px;
		}
		
		#micrositeAccordion h3.ui-state-active a, #micrositeAccordion h3:hover a, #micrositeAccordion h3:focus a{
			color:#3d3d3d;
			font-size: 16px;
		}
		#micrositeAccordion div { position:relative; overflow:hidden; }

		#micrositeAccordion p{ padding:10px; }
		#micrositeAccordion .slinfo{
		    width: 678px;
		    padding-bottom: 10px;
		    padding-top:10px;
		    *padding-top:20px;
		    position: relative;
		}
		#micrositeAccordion .slcontactinfo {
		    float: left;
		    width: 250px;
		}
		#micrositeAccordion .slsocial {
		    bottom: 10px;
		    position: absolute;
		    right: 0;
		}
		#micrositeAccordion .slcontact { padding:10px 0 0 10px; }

		#micrositeAccordion .slfacebook, #micrositeAccordion .slinstagram, #micrositeAccordion .sltwitter, #micrositeAccordion .slyoutube, #micrositeAccordion .slflickr, #micrositeAccordion .slvimeo, #micrositeAccordion .slslideshare,#micrositeAccordion .slarmyliveblog{
			height: 32px;
			width: 32px;
			margin-right: 10px;
			float: left;
		}
		#micrositeAccordion .slfacebook{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat 0px 0px;
		}
		#micrositeAccordion .slflickr{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -32px 0;
		}
		#micrositeAccordion .slinstagram{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -160px -56px;
		}
		#micrositeAccordion .sltwitter{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -64px 0px;
		}
		#micrositeAccordion .slyoutube{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -96px 0px;
		}
		#micrositeAccordion .slarmyliveblog{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -128px 0px;
		}
		#micrositeAccordion .slvimeo{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -160px 0px;
		}
		#micrositeAccordion .slslideshare{
			background: url('/e2/rv5_images/socialmedia/smicons_sprite.png') no-repeat -32px -56px;
		}
		
		/* NEW */
		.ui-accordion .ui-accordion-header a { padding: 0 !important; }			
		.ui-accordion .ui-accordion-content { padding: 0 !important; }
		#micrositeAccordion p:first-child { padding: 10px; }
		.slemail { display: none; }
		
		.accTextarea{
			width:435px;
		}
		h2.micrositeVideoPlayerBigWidget{
			display:none;
		}
		.micrositeQuotesWidget{
			height: 150px;
		}
		.micrositeQuotesWidget p{
			width: 40%;
			float:left;
		}
		h2.micrositeAssetsLinkWidget {
			display: none;
		}

		.micrositeAssetsLinkWidget {
			background: none repeat scroll 0% 0% #FFFFFF;
			height: 50px;
			font-weight:bold;
		}

		.micrositeAssetsLinkWidget ul li {
			float: left;
			padding: 15px 11px;
			text-align: center;
			width: 30%;
			height: 20px;
		}

		.micrositeAssetsLinkWidget ul li:hover {
			background:#fff5cd;
		}
		
		.microsite2012SpeechesWidget {
			background: none repeat scroll 0 0 #FFFFFF;
			float: left;
			height: 370px;
			width: 330px;
		}
		.microsite2011SpeechesWidget {
			margin-left: 350px;
			margin-top: -11px;
			*margin-left: 350px;
			*margin-top: -11px;
			width: 330px;
		}
		.micrositeOutreachWidget{
			padding-bottom:15px;
		}
		.micrositeComrelImageWidget {
			float: left;
			width: 176px;
			height: 157px;
		}
		.micrositeContactComrelWidget{
			margin-left:190px;
			*margin-left:240px !important;
			margin-top:-11px;
			*margin-top:-21px !important;
			height: 156px;
			*width:	466px !important;
		}
		.micrositeNewYorkWidget, .micrositeChicagoWidget, .micrositeLosAngelesWidget{
		    float:left;
		    width: 216px;
		}
		.micrositeChicagoWidget{
		    margin-top:-12px;
			margin-left:12px;
		}
		.micrositeLosAngelesWidget{
		    margin-top:-24px;
			margin-left: 12px;
		}
		
		/* Right Column Widgets */
		
		#micrositeRightCol .widgetWrap{
			-webkit-box-shadow: 0px 0px 0px rgba(153, 153, 153, 0.0);
			-moz-box-shadow:    0px 0px 0px rgba(153, 153, 153, 0.0);
			box-shadow:         0px 0px 0px rgba(153, 153, 153, 0.0);
		}
		
		.micrositeImageWidget, .micrositeLinkBoxWidget, .micrositeMissionTextWidget, .micrositeEventsWidget, .micrositeSpeakersToolkitWidget, .micrositeArmyBandImageWidget {
			padding:1px;
		    -webkit-box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);
			-moz-box-shadow:    0px 0px 4px rgba(153, 153, 153, 0.75);
			box-shadow:         0px 0px 4px rgba(153, 153, 153, 0.75);
		}
		.featuredPhotos .featured_navigation{
			width:678px;
		}
		.micrositeEventsWidget {		    
			background-color:#fff;
		   /* height: 251px;*/
		   padding-bottom: 27px;
		}
		.micrositeEventsWidget a, .micrositeEventsWidget a:active, .micrositeEventsWidget a:link, .micrositeEventsWidget a:visited, .micrositeEventsWidget a:hover, .micrositeEventsWidget a:focus{
			color: #3d3d3d !important;
			text-decoration:none;
		}
		.micrositeEventsWidget h2, .micrositeMissionTextWidget h2, h2.micrositeLinkBoxWidget, .micrositeSpeakersToolkitWidget h2 {
		    background: #707070;
		    color:#fff;
		    padding: 5px;
		    font-size: 16px;
		}
		.micrositeSpeakersToolkitWidget {
			background: #fff;
		}
		.micrositeSpeakersToolkitWidget p{
			padding: 10px;
		}
		.micrositeSpeakersToolkitWidget hr{
			margin: 0px 10px;
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid #eee;
		}
		.eventList {
			/*height:190px;*/
		}
		.eventItem{
			height: 50px;
			clear:both;
		}
		.eventItem:hover, .eventItem:focus { 
			background-color: #fef6d6;
		}

		.eventleftPane, .eventDate{
		    	width:70px;
		    	float:left;
		    	margin-right:10px;
	    		padding-left:5px;
	    	}
		.eventTimePane {
    			color: #707070;
    			font-size: 10px;
		}
		.eventList .eventrightPane {
			width: 150px;  
			float: left;
			padding-right: 10px;
			padding-bottom:5px;
		}
		.eventList .eventrightPane h3 {
			color: #3d3d3d;
			font-weight: bold;
			padding-bottom:5px;
		}
		.eventList .eventrightPane p {
			color:#707070;
			font-size: 10px;
		}
		.eventColNames{
			padding-bottom:5px;
		}
		.eventDate, .eventTitle{
			color:#707070;
		}
		.micrositeEventsWidget .button {
			clear: both;
		}
		.micrositeEventsWidget .button a, .micrositeEventsWidget .button a:link, .micrositeEventsWidget .button a:visited, .micrositeEventsWidget .button a:active {
		    background-color: #DBDBDB;
		    background-image: -moz-linear-gradient(center top , #F9F9F9, #C4C4C4);
		    border: 1px solid #B3B3B3;
		    color: #3D3D3D;
		    width: 226px;
		    float: left;
		    font-size: 12px;
		    font-weight: 100;
		    padding: 5px 9px;
		    text-decoration: none;
		    text-shadow: 0 1px 1px #FFFFFF;				
			background-color: #DBDBDB;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#C4C4C4));
			background-image: -webkit-linear-gradient(top, #F9F9F9, #C4C4C4);
			background-image: -moz-linear-gradient(top, #F9F9F9, #C4C4C4);
			background-image: -ms-linear-gradient(top, #F9F9F9, #C4C4C4);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#F9F9F9', EndColorStr='#C4C4C4');
			background-image: -o-linear-gradient(top, #F9F9F9, #C4C4C4);
			background-image: linear-gradient(to bottom, #F9F9F9, #C4C4C4);
		}
		
		.micrositeEventsWidget .button a:hover, .micrositeEventsWidget .button a:focus {
			background-color: #C9C9C9;
			background-image: -moz-linear-gradient(center top , #F2F2F2, #9F9F9F);
			border-top: 1px solid #B3B3B3;
			color: #3D3D3D;
			font-size: 12px;
			font-weight: 100;
			text-decoration: none;
			text-shadow: 0 1px 1px #fff;
				
			background-color: #C9C9C9; 
			background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#9F9F9F));
			background-image: -webkit-linear-gradient(top, #F2F2F2, #9F9F9F);
			background-image: -moz-linear-gradient(top, #F2F2F2, #9F9F9F);
			background-image: -ms-linear-gradient(top, #F2F2F2, #9F9F9F);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#F2F2F2', EndColorStr='#9F9F9F');
			background-image: -o-linear-gradient(top, #F2F2F2, #9F9F9F);
			background-image: linear-gradient(to bottom, #F2F2F2, #9F9F9F);
		}
		
		.micrositeMissionTextWidget {
		    background-color:#fff;   
		}
		.micrositeMissionTextWidget p, .micrositeLinkBoxWidget, .micrositeBrandingWidget{
			padding:10px;
			background-color:#fff;
		}
		.micrositeImageWidget {
			background-color:#fff;
			height:127px;
			padding-bottom: 0;
			width: 246px;
		}
		.micrositeLinkBoxWidget a{
			font-weight: bold;
		}
		h2.micrositeLinkBoxWidget{
			border: 1px solid #fff;
		}
		.micrositeSocialMedaWidget {
			margin: 5px 0 0;
		}
		
		.micrositeSocialMedia_001 {
	background: none !important;
    border-top: none !important;
    font-family: Helvetica,Arial,sans-serif !important;
}
.micrositeSocialMedia_001 p {
    text-shadow: none !important;
}
.micrositeSocialMedia_001 p.title {
    background: none repeat scroll 0 0 #707070;
    font-family: helvetica,arial,sans-serif !important;
    font-size: 13px !important;
    font-weight: bold;
    padding: 5px !important;
    text-align: left;
    text-transform: uppercase;
}
.micrositeSocialMedia_001 .icons {
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
	padding: 12px 0 !important;
}

.micrositeSocialMedia_001 .icons img {
    border: medium none !important;
    margin: 0 !important;
}
.micrositeSocialMedia_001 .button {
    border: 1px solid #B3B3B3 !important;
    margin: 7px 0 0 -1px !important;
}
.micrositeSocialMedia_001 .button a {
    border: medium none !important;
	width: 100% !important;
}
.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus {
    background: none repeat scroll 0 0 transparent !important;
}
		
		.micrositeArmyBandImageWidget{
		    height:100px;
			background-color:#fff;
		}
		/* FOOTER */
		
		.footer{
			height: 160px !important;
		}
