.mobileAdMain{height:100px;width:100%;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffdf66), to(#ffcb09));background-image:-webkit-linear-gradient(top, #ffdf66, #ffcb09);background-image:-moz-linear-gradient(top, #ffdf66, #ffcb09);background-image:-ms-linear-gradient(top, #ffdf66, #ffcb09);background-image:-o-linear-gradient(top, #ffdf66, #ffcb09);background-image:linear-gradient(top, #ffdf66, #ffcb09);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffdf66', EndColorStr='#ffcb09');color:#3D3D3D;margin:0;padding:42px
0 12px 22px}a.mobileAd{font-size:260%;color:#3d3d3d}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}:focus{outline:0}body{background:#FFF;color:#000;line-height:1}ol,ul{list-style:none}#micrositeHeader{display:block;width:100%;min-height:100px}#micrositeContent{display:block;width:100%;}#micrositeLeftCol{display:block;float:left;width:70%;min-height:100px}#micrositeRightCol{display:block;float:right;width:30%;min-height:100px}.clear{clear:both}#micrositeFooter{display:block;width:100%;min-height:100px}.micrositefacebookLike{float:left;width:54px;padding-top:5px}.micrositegooglePlus{float:left;padding-left:25px;width:60px;padding-top:5px}.micrositeTwitter{float:left;padding-left:37px;width:60px;padding-top:5px}textarea#twitter{position:absolute;margin:10px
0;padding:0}#twitterLabel{top:6px;position:relative}.micrositeclearfloat{clear:both;font-size:1px;height:0;line-height:0}.featuredPhotos{background:#fff;width:577px;color:#3d3d3d;font-size:12px;font-family:verdana,helvetica,arial,sans-serif;font-weight:100;overflow:hidden}.featuredPhotos
.title{background-color:#707070;padding:4px
10px 4px;text-shadow:0 -1px 1px #3d3d3d;border-bottom:solid 1px #fff}.featuredPhotos .title
h2{font-size:16px;font-weight:100;color:#FFF}.featuredPhotos .list
ul{margin:0;list-style-type:none}.featuredPhotos .list
li{padding:0;position:absolute;display:none;height:437px;width:642px;width:577px\9;overflow:hidden}.featuredPhotos .list
.current{display:block}.featuredPhotos .list .featured_pagination, .featuredPhotos .list
.featured_photo{position:relative}.featured_photo{height:437px;overflow:hidden\9}.featuredPhotos .list
.featured_pagination{z-index:100;position:absolute}.featuredPhotos
.featured_content{height:437px;position:relative}.featuredPhotos
.featured_image{position:absolute}.featuredPhotos
.featured_caption{position:absolute;height:25%;bottom:0;background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr=#80000000, EndColorStr=#80000000);color:#fff;padding:10px;display:none}.featuredPhotos .featured_caption
.featured_captionTitle{font-weight:bold}.featuredPhotos .featured_caption
.featured_captionText{font-weight:normal;font-style:italic;font-size:11px;height:55%;overflow:auto;width:556px}.featuredPhotos
.featured_captionButton{text-align:center;color:#fff !important;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=#80000000,EndColorStr=#80000000);width:53px;float:right;padding:3px;position:absolute;bottom:0;right:0;cursor:pointer;display:block;z-index:1000}.featured_captionButton{left:519px}.featuredPhotos
.featured_captionMore{font-weight:bold}.featuredPhotos
.featured_viewPhoto{color:#fff;margin-top:5px;float:left}.featuredPhotos .featured_viewPhoto
a{color:#fff !important}.featuredPhotos
.featured_relatedLink{color:#fff;margin-top:5px;float:right}.featuredPhotos .featured_viewPhoto a, .featuredPhotos .featured_relatedLink
a{color:#fff}.featuredPhotos
.navPad{margin-top:170px}.noNavPad{padding-top:0px}.featuredPhotos
.featured_navigation{position:absolute;z-index:1000;width:578px;height:1px}.featuredPhotos
.featured_prev{width:45px;height:62px;float:left;background:url(/e2/rv6_images/homepage/featuredphotos/navigation.png) 0px 2px;position:relative}.featuredPhotos
.featured_next{width:45px;height:62px;float:right;background:url(/e2/rv6_images/homepage/featuredphotos/navigation.png) -43px 2px;position:relative}.featuredPhotos  a:hover.featured_prev,  .featuredPhotos a:focus.featured_prev{width:45px;height:62px;float:left;background:url(/e2/rv6_images/homepage/featuredphotos/navigation.png) 0px -59px;position:relative}.featuredPhotos a:hover.featured_next, .featuredPhotos a:focus.featured_next{width:45px;height:62px;float:right;background:url(/e2/rv6_images/homepage/featuredphotos/navigation.png) -43px -60px;position:relative}a:hover.featured_captionButton{text-decoration:underline}.slide
img{position:absolute}.Items
.AddPageFront{background:url('/images/global_sprite.gif') no-repeat -607px 0 !important;height:40px;width:8px;float:left;margin-top:10px;margin-left:20px}.AddPageMiddle{background:url('/images/global_sprite.gif') repeat -405px 165px !important;height:40px;width:580px;float:left;text-align:center;margin-top:10px}.AddPageBack{background:url('/images/global_sprite.gif') no-repeat -615px 0 !important;height:40px;width:8px;float:left;margin-top:10px}.PlusIcon{background:url('/images/global_sprite.gif') no-repeat -623px 0 !important;width:20px;height:40px;float:left;margin-left:35%}.AddPageText{height:40px;float:left;padding-top:10px;padding-left:5px;font-size:2em;color:#5d5d5d}.grayBg input:focus{border:1px
solid #7B8738 !important}.accordionForm
label{color:#3d3d3d;font-size:1em;float:left}.accordionForm label, .accordionForm input, .accordionForm
textarea{margin-top:6px}.accordionForm
label{width:80px}.accordionForm
input{width:390px;border-color:#717171;margin:2px
0 8px 0}.accordionForm
textarea{width:390px;border-color:#717171}.accordionForm{width:565px;position:relative;background-color:#f9f9f9;color:#3d3d3d;font-size:12px;padding:5px
15px;margin:10px
0 10px 20px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px}.accordionForm
.formRepeaterDelete{position:absolute;right:10px;top:10px;height:12px;width:12px;background:url('/images/global_sprite.png') no-repeat -239px -20px}.accordionForm .formRepeaterDelete:hover{position:absolute;right:10px;top:10px;height:12px;width:12px;background:url('/images/global_sprite.png') no-repeat -251px -20px}.accordionForm
label{color:#3d3d3d !important;font-size:1em !important;float:left}.accordionForm label, .accordionForm input, .accordionForm
textarea{margin-top:6px}.ytHybridPlayer_pm{padding:10px}.ytHybridPlayer_pm p
a{color:white;text-decoration:none}.ytHybridPlayer_pm p a:hover{color:white;text-decoration:underline}#addMediaContainer
h2.field_divider{color:#BBB;margin:5px;padding:5px;text-align:center}#addMediaContainer .grayBg .fieldContainer
h3{background-color:#777;float:none;font-size:140%;margin:-10px -10px 10px;padding:5px
10px}.ytHybridPlayer_pm
.fieldContainer{background-color:#303030;border:1px
solid #777;border-radius:8px;overflow:hidden;padding:10px
10px 15px}.ytHybridPlayer_pm .fieldContainer
p.fieldnote{color:#999;font-size:11px;margin:12px
0 0}.ytHybridPlayer_pm .fieldContainer
#playlist_id{margin-top:0;width:455px}.ytHybridPlayer_pm .fieldContainer
label{margin:0
5px 0 0}.ytHybridPlayer_pm .fieldContainer
input{margin:-3px 0 0 0}.ytHybridPlayer_pm
.playlistSelector{}.ytHybridPlayer_pm .playlistSelector
fieldset{overflow:hidden;float:left;width:50%;margin-bottom:1em}.ytHybridPlayer_pm .playlistSelector
fieldset.searchall{}.ytHybridPlayer_pm .playlistSelector fieldset.searchall
input{margin:3px
5px 1px 0}.ytHybridPlayer_pm .playlistSelector fieldset
select{width:229px}.ytHybridPlayer_pm .playlistSelector fieldset
label{margin:0;margin-right:5px}.ytHybridPlayer_pm .playlistSelector
.playlistSearchBox{position:relative}.ytHybridPlayer_pm .playlistSelector .playlistSearchBox
input{width:160px;margin-top:0}.ytHybridPlayer_pm .playlistSelector .playlistSearchBox input:focus,
.ytHybridPlayer_pm .playlistSelector .playlistSearchBox input:hover{border:1px
solid #B4B4B4}.ytHybridPlayer_pm
.searchImage{width:14px;height:12px;background:transparent url(/images/global_sprite.gif) no-repeat scroll -210px -61px;border:2px
solid #FFF;position:absolute;margin-left:258px;margin-top:-17px;cursor:pointer}.ytHybridPlayer_pm
.SourcePlaylists{}.ytHybridPlayer_pm .SourcePlaylists
h5{color:#EEE;font-size:115%;padding:5px
2%;border-bottom:1px solid #555;position:relative}.ytHybridPlayer_pm .SourcePlaylists h5
.clearSearch{position:absolute;cursor:pointer;right:2%}.ytHybridPlayer_pm .SourcePlaylists h5
.showing{left:0;text-align:center}.ytHybridPlayer_pm
.playlistWrap{}.ytHybridPlayer_pm
.playlistStyle{height:40px;background-color:#f7f7f7;border:2px
solid #f7f7f7;position:relative;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;margin:5px
10px}.ytHybridPlayer_pm
.playlistStyle.selectedPlaylist{background-color:#fbe17e;border:2px
solid #ffcb05}.ytHybridPlayer_pm .playlistStyle.selectedPlaylist
.selectedcheck{background:url("/images/checkimg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height:40px;position:absolute;left:50%;margin-left:-30px;width:60px;z-index:200}.ytHybridPlayer_pm .playlistStyle
.playlist_id{display:none}.ytHybridPlayer_pm .playlistStyle
.imgContainer{width:12.5%;height:40px;background-color:#000;float:left;overflow:hidden;position:relative}.ytHybridPlayer_pm .playlistStyle .imgContainer
img{border:0
none;position:absolute;width:100%;height:auto;margin:auto;top:-100px;bottom:-100px}.ytHybridPlayer_pm .playlistStyle
.tabGreen{float:left;width:2%;height:40px;-moz-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949d5e', endColorstr='#7b8739');background:-webkit-gradient(linear, left top, left bottom, from(#949d5e), to(#7b8739));background:-moz-linear-gradient(top,  #949d5e,  #7b8739)}.ytHybridPlayer_pm .playlistStyle
.playlistText{padding:3px
1% 3px 15%;width:84%;position:absolute}.ytHybridPlayer_pm .playlistStyle
.pTitle{padding:0;font-size:12px;display:block;height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.ytHybridPlayer_pm .playlistStyle
.pDate{padding:5px
0;font-size:10px;display:block}.ytHybridPlayer_pm
.headingLabel{color:#f7f7f7;font-size:16px;padding:2px
8px}.ytHybridPlayer_pm
.pickPlaylistsHover{background-color:#fbe17e;border:2px
solid #ffcb05}.ytHybridPlayer_pm .pickPlaylistsHover
.tabGreen{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcc066', endColorstr='#adb860');background:-webkit-gradient(linear, left top, left bottom, from(#bcc066), to(#adb860));background:-moz-linear-gradient(top,  #bcc066,  #adb860)}.ytHybridPlayer_pm
.pickPage{height:30px;padding-top:12px;text-align:center;position:relative;width:100px;margin-left:auto;margin-right:auto}.ytHybridPlayer_pm .pickPage
span.pageNumber{display:block;float:left;height:14px;color:#f7f7f7;padding:1px
2px 0 2px;border-top:1px solid #999;border-bottom:1px solid #999}.ytHybridPlayer_pm .pickPage
span.nextPageActive{display:block;float:left;width:17px;height:17px;background:url(/images/global_sprite.gif) no-repeat scroll -153px -266px}.ytHybridPlayer_pm .pickPage
span.prevPageActive{display:block;float:left;width:17px;height:17px;background:url(/images/global_sprite.gif) no-repeat scroll -136px -266px}.ytHybridPlayer_pm .pickPage
span.nextPage{display:block;float:left;width:17px;height:17px;background:url(/images/global_sprite.gif) no-repeat scroll -153px -249px}.ytHybridPlayer_pm .pickPage
span.prevPage{display:block;float:left;width:17px;height:17px;background:url(/images/global_sprite.gif) no-repeat scroll -136px -249px}.ytHybridPlayer_pm
fieldset.extra_param{margin:2em
0 1em}.ytHybridPlayer_pm fieldset.extra_param
label{margin:0
4px 0 3px}.ytHybridPlayer_pm fieldset.extra_param
input{margin-top:-1px}.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{position:absolute;left:-99999999px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.ui-helper-clearfix{display:inline-block}/*\*/* html .ui-helper-clearfix{height:1%}.ui-helper-clearfix{display:block}/**/.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-state-disabled{cursor:default !important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-accordion .ui-accordion-header{cursor:pointer;position:relative;margin-top:1px;zoom:1}.ui-accordion .ui-accordion-li-fix{display:inline}.ui-accordion .ui-accordion-header-active{border-bottom:0 !important}.ui-accordion .ui-accordion-header
a{display:block;font-size:1em;padding: .5em .5em .5em 2.2em}.ui-accordion .ui-accordion-header .ui-icon{position:absolute;left: .5em;top:50%;margin-top:-8px}.ui-accordion .ui-accordion-content{padding:1em
2.2em;border-top:0;margin-top:-2px;position:relative;top:1px;margin-bottom:2px;overflow:auto;display:none}.ui-accordion .ui-accordion-content-active{display:block}@import url("ui.core.css");@import url("ui.accordion.css");@import url("ui.datepicker.css");@import url("ui.dialog.css");@import url("ui.progressbar.css");@import url("ui.resizable.css");@import url("ui.slider.css");@import url("ui.tabs.css");.ui-datepicker{width:17em;padding: .2em .2em 0}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next
span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0
2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title
select{float:left;font-size:1em;margin:1px
0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker .ui-datepicker-title select.ui-datepicker-year{float:right}.ui-datepicker
table{width:100%;font-size: .9em;border-collapse:collapse;margin:0
0 .4em}.ui-datepicker
th{padding: .7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker
td{border:0;padding:1px}.ui-datepicker td span, .ui-datepicker td
a{display:block;padding: .2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin: .7em 0 0 0;padding:0
.2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane
button{float:right;margin: .5em .2em .4em;cursor:pointer;padding: .2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group
table{width:95%;margin:0
auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane
button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-cover{display:none;display/**/: block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}.ui-dialog{position:relative;padding: .2em;width:300px}.ui-dialog .ui-dialog-titlebar{padding: .5em .3em .3em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin: .1em 0 .2em}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right: .3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px}.ui-dialog .ui-dialog-titlebar-close
span{display:block;margin:1px}.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{padding:0}.ui-dialog .ui-dialog-content{border:0;padding: .5em 1em;background:none;overflow:auto;zoom:1}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin: .5em 0 0 0;padding: .3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane
button{float:right;margin: .5em .4em .5em 0;cursor:pointer;padding: .2em .6em .3em .6em;line-height:1.4em;width:auto;overflow:visible}.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-progressbar{height:2em;text-align:left}.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block}.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0px}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0px}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0px;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0px;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-slider{position:relative;text-align:left}.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size: .7em;display:block;border:0}.ui-slider-horizontal{height: .8em}.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}.ui-slider-horizontal .ui-slider-range{top:0;height:100%}.ui-slider-horizontal .ui-slider-range-min{left:0}.ui-slider-horizontal .ui-slider-range-max{right:0}.ui-slider-vertical{width: .8em;height:100px}.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}.ui-slider-vertical .ui-slider-range{left:0;width:100%}.ui-slider-vertical .ui-slider-range-min{bottom:0}.ui-slider-vertical .ui-slider-range-max{top:0}.ui-tabs{padding: .2em;zoom:1}.ui-tabs .ui-tabs-nav{list-style:none;position:relative;padding: .2em .2em 0}.ui-tabs .ui-tabs-nav
li{position:relative;float:left;border-bottom-width:0 !important;margin:0
.2em -1px 0;padding:0}.ui-tabs .ui-tabs-nav li
a{float:left;text-decoration:none;padding: .5em 1em}.ui-tabs .ui-tabs-nav li.ui-tabs-selected{padding-bottom:1px;border-bottom-width:0}.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing
a{cursor:text}.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected
a{cursor:pointer}.ui-tabs .ui-tabs-panel{padding:1em
1.4em;display:block;border-width:0;background:none}.ui-tabs .ui-tabs-hide{display:none !important}.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em}.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget
button{font-family:Verdana,Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px
solid #aaa;background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#222}.ui-widget-content
a{color:#222}.ui-widget-header{border:1px
solid #aaa;background:#ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222;font-weight:bold}.ui-widget-header
a{color:#222}.ui-state-default, .ui-widget-content .ui-state-default{border:1px
solid #d3d3d3;background:#e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#555;outline:none}.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#555;text-decoration:none;outline:none}.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus{border:1px
solid #999;background:#dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121;outline:none}.ui-state-hover a, .ui-state-hover a:hover{color:#212121;text-decoration:none;outline:none}.ui-state-active, .ui-widget-content .ui-state-active{border:1px
solid #aaa;background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121;outline:none}.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#212121;outline:none;text-decoration:none}.ui-state-highlight, .ui-widget-content .ui-state-highlight{border:1px
solid #fcefa1;background:#fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636}.ui-state-highlight a, .ui-widget-content .ui-state-highlight
a{color:#363636}.ui-state-error, .ui-widget-content .ui-state-error{border:1px
solid #cd0a0a;background:#fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.ui-state-error a, .ui-widget-content .ui-state-error
a{color:#cd0a0a}.ui-state-error-text, .ui-widget-content .ui-state-error-text{color:#cd0a0a}.ui-state-disabled, .ui-widget-content .ui-state-disabled{opacity: .35;filter:Alpha(Opacity=35);background-image:none}.ui-priority-primary, .ui-widget-content .ui-priority-primary{font-weight:bold}.ui-priority-secondary, .ui-widget-content .ui-priority-secondary{opacity: .7;filter:Alpha(Opacity=70);font-weight:normal}.ui-icon{width:16px;height:16px;background-image:url(images/ui-icons_222222_256x240.png)}.ui-widget-content .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}.ui-widget-header .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}.ui-state-default .ui-icon{background-image:url(images/ui-icons_888888_256x240.png)}.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{background-image:url(images/ui-icons_454545_256x240.png)}.ui-state-active .ui-icon{background-image:url(images/ui-icons_454545_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(images/ui-icons_2e83ff_256x240.png)}.ui-state-error .ui-icon, .ui-state-error-text .ui-icon{background-image:url(images/ui-icons_cd0a0a_256x240.png)}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-off{background-position:-96px -144px}.ui-icon-radio-on{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px}.ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px}.ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px}.ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px}.ui-corner-top{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px}.ui-corner-bottom{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}.ui-corner-right{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px}.ui-corner-left{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px}.ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px}.ui-widget-overlay{background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity: .30;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity: .30;filter:Alpha(Opacity=30);-moz-border-radius:8px;-webkit-border-radius:8px}.ytHybridPlayer_002{font-family:Verdana,Helvetica,Arial,sans-serif;font-size:11px;position:relative}.ytHybridPlayer_002_overlay{background-color:#aaa;height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}.ytHybridPlayer_002
.title{display:none;background-color:#707070;border-bottom:1px solid #fff;padding:4px
10px;text-shadow:0 -1px 1px #3d3d3d}.ytHybridPlayer_002 .title
h2{color:#fff;font-size:16px;font-weight:100}.ytHybridPlayer_002
.clearboth{clear:both;display:block;height:0;overflow:hidden}.ytHybridPlayer_002 .subheading
h3{background-color:#d5d5d5;padding:3px;border-bottom:1px solid #fff}.ytHybridPlayer_002 .subheading h3
span{line-height:1.4em}.ytHybridPlayer_002 .subheading h3
span.playlistPosition{color:#888;float:right;font-size:75%;padding-top:0.3em;padding-left:4px}.ytHybridPlayer_002 .subheading
h4{display:none;background-color:#3d3d3d;color:#ccc;font-weight:normal;overflow:hidden;padding:3px;text-overflow:ellipsis;white-space:nowrap}.ytHybridPlayer_002 .playlist-container{overflow-y:auto;max-height:100px;position:relative;background-color:#fff}.ytHybridPlayer_002
.playlist{list-style:none;padding:0}.ytHybridPlayer_002 .playlist li.ui-selectee{cursor:pointer;border-bottom:1px solid #dbdbdb;padding:3px
2px 3px 2.1em;text-indent:-2em}.ytHybridPlayer_002 .playlist .ui-selectee:hover{background-color:#fff2bf}.ytHybridPlayer_002 .playlist .ui-selectee.ui-selected{background-color:darkkhaki;cursor:pointer}.ytHybridPlayer_002 .youtube-player-embed-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}.ytHybridPlayer_002 .youtube-player-embed-container iframe,
.ytHybridPlayer_002 .youtube-player-embed-container object,
.ytHybridPlayer_002 .youtube-player-embed-container
embed{position:absolute;top:0;left:0;width:100%;height:100%}.rv6HeaderWidget
.container{width:971px;margin:0
auto}.rv6HeaderWidget{width:100%;height:122px;font-family:Verdana,Helvetica,Arial,sans-serif;background:#6a6a6a;background:-moz-linear-gradient(top, #858585 0%, #505050 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#858585), color-stop(100%,#505050));background:-webkit-linear-gradient(top, #858585 0%,#505050 100%);background:-o-linear-gradient(top, #858585 0%,#505050 100%);background:-ms-linear-gradient(top, #858585 0%,#505050 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#505050',GradientType=0 );background:linear-gradient(top, #858585 0%,#505050 100%);-webkit-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.75);-moz-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.75);box-shadow:0px 0px 4px rgba(153, 153, 153, 0.75)}.rv6HeaderWidget
.camo{background:url(/e2/rv6_images/homepage/header/camo.png) bottom left no-repeat;width:752px;height:122px}.rv6HeaderWidget .camo
img{margin-top:15px}.rv6HeaderWidget .camo .hide, .rv6HeaderWidget .camo
.hide2{height:1px;left:0px;overflow:hidden;position:absolute;top:-500px;width:1px}.rv6navBar
.rv6dropDownNav{float:left;font-size:13px;width:689px}.rv6navBar .rv6dropDownNav li a:hover, .rv6navBar .rv6dropDownNav li a:focus{color:#3d3d3d !important}.rv6navBar .rv6dropDownNav
li{float:left;display:block;height:27px;line-height:2.1em;margin:0;position:relative;z-index:999;border-right:1px solid #b6b6b6;padding:0}.rv6navBar .rv6dropDownNav
.glow{display:block;border:1px
solid #FFF;border-top:0;height:26px;padding:0
12px}.rv6navBar .rv6dropDownNav .curve
.glow{-moz-border-radius-bottomleft:4px;-webkit-border-radius-bottomleft:4px}.rv6navBar .rv6dropDownNav li
a{display:block;height:23px;padding:0
6px;font-weight:normal;color:#3d3d3d !important}.rv6navBar .rv6dropDownNav li:hover, .rv6navBar .rv6dropDownNav li:focus, .rv6navBar .rv6dropDownNav li.sfHover, .rv6navBar .rv6dropDownNav li a:active, .rv6navBar .rv6dropDownNav li:hover a, .rv6navBar .rv6dropDownNav li:focus a, .rv6navBar .rv6dropDownNav li.sfHover a, .rv6navBar
.menuhover{background:#fff;color:#3d3d3d}.rv6navBar .rv6dropDownNav li:hover a.rv6navtop, .rv6navBar .rv6dropDownNav li:focus a.rv6navtop, .rv6navBar .menuhover
.rv6navtop{border-bottom:2px solid #7b8738}.rv6navBar .rv6dropDownNav
.selected{border-bottom:2px solid #838383}.rv6navBar .rv6dropDownNav
.curve{margin-left:-1px}.rv6navBar .rv6dropDownNav .curve:hover, .rv6navBar .rv6dropDownNav .curve:focus, .rv6navBar .rv6dropDownNav
li.curve.menuhover{-moz-border-radius-bottomleft:4px;-webkit-border-radius-bottomleft:4px}.rv6navBar .rv6dropDownNav
.hide{display:none}.rv6navBar .rv6dropDownNav
.show{display:block}.rv6navBar .rv6dropDownNav
.mmLightBorder{border:1px
solid #ededed}.rv6navBar .rv6dropDownNav li
div{position:absolute;display:none;width:453px;background-color:#FFF;top:29px;left:0}.rv6navBar .rv6dropDownNav
.tinyBridge{display:none;width:100%;height:2px;background:#fff;position:relative !important;top:0;z-index:10000}.rv6navBar .rv6dropDownNav li
ul{background:#fff;border-right:solid 1px #eee;left:-1px;padding:0;top:38px;width:150px;float:left;z-index:1000}.rv6navBar .rv6dropDownNav li ul:last-child{border:0}.rv6navBar .rv6dropDownNav li
ul.news{height:19.4em}.rv6navBar .rv6dropDownNav li
ul#newsColumn2{left:149px}.rv6navBar .rv6dropDownNav li
ul#newsColumn3{left:298px}.rv6navBar .rv6dropDownNav li ul
li{background:none;border:none;display:block;font-size:0.9em;height:auto;line-height:2.6em;padding:0}.rv6navBar .rv6dropDownNav li ul li a, .rv6navBar .rv6dropDownNav li:hover li a, .rv6navBar .rv6dropDownNav li:focus li a, .rv6navBar .rv6dropDownNav li.sfHover li
a{background:none;color:#3d3d3d;display:block;height:auto;padding:0
0 0 10px;width:139px}.rv6navBar .rv6dropDownNav li ul li a:focus, .rv6navBar .rv6dropDownNav li ul li a:hover{background-image:none;background-color:#FFF2bF;color:#3d3d3d}.rv6navBar
.rv6dropDownNavNS{position:absolute;top:10px;left:5px}.rv6navBar .rv6dropDownNavNS
li{line-height:15px}.rv6navBar{background:#fff;border:1px
solid #b6b6b6;border-top:0;height:26px;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px;-webkit-border-radius-bottomright:4px;-webkit-border-radius-bottomleft:4px;background:#ededed;background:-moz-linear-gradient(top,  #ededed 0%, #e0e0e0 50%, #d0d0d0 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(50%,#e0e0e0), color-stop(100%,#d0d0d0));background:-webkit-linear-gradient(top,  #ededed 0%,#e0e0e0 50%,#d0d0d0 100%);background:-o-linear-gradient(top,  #ededed 0%,#e0e0e0 50%,#d0d0d0 100%);background:-ms-linear-gradient(top,  #ededed 0%,#e0e0e0 50%,#d0d0d0 100%);background:linear-gradient(top,  #ededed 0%,#e0e0e0 50%,#d0d0d0 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d0d0d0',GradientType=0 )}.rv6navBar
.liveSearch{background:#888;background:-moz-linear-gradient(top,  #888 0%, #707070 60%, #606060 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(60%,#707070), color-stop(100%,#606060));background:-webkit-linear-gradient(top,  #888 0%,#707070 60%,#606060 100%);background:-o-linear-gradient(top,  #888 0%,#707070 60%,#606060 100%);background:-ms-linear-gradient(top,  #888 0%,#707070 60%,#606060 100%);background:linear-gradient(top,  #888 0%,#707070 60%,#606060 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#606060',GradientType=0 );position:relative;float:right;height:27px;width:268px;top:-1px;-moz-border-radius-bottomright:3px;-webkit-border-radius-bottomright:3px}.rv6navBar .liveSearch
input{color:#737373;float:left;font-size:1em;height:1.15em;margin:3px
0px 2px 5px;padding:0
5px;width:79%}.rv6navBar .liveSearch
input.searchclose{background:url(/e2/rv5_images/main/searchbutton.png) no-repeat 5px 5px;border:none;color:#fff;cursor:pointer;display:inline;float:right;height:26px;width:28px;margin:1px
2px 0 0;padding:0;text-indent:-999em}.rv6navBar
.MenuBoxTitle{border:0
!important}.rv6navBar .MenuBoxTitle
.hidden{position:fixed;left:-10000px}.rv6navBar .MenuBoxTitle
h3{float:none !important;display:block !important}.rv6navBar .MenuBoxTitle
input{float:none !important;display:block !important;margin-left:12px}.rv6hide{display:none}body #usasearch_sayt .ui-menu .ui-menu-item
a{line-height:2.2em}body #usasearch_sayt .ui-menu
a{font-size:1em;color:#3d3d3d}#usasearch_sayt #ui-active-menuitem{border-width:0px;background-color:#fff2bf;background-image:none;border-radius:0px;margin:0}#addThisTopRight{float:right}#addThis
#linkBack{color:#fff;display:inline;float:right;font-weight:normal;margin-bottom:-28px;position:relative;top:-20px;right:35px}#addThis a, #articleFooter
a{color:#3d3d3d;outline:0;text-decoration:none}#addThis
h2{margin:0;padding:0
10px}#addThis{background:#d7d7d7;display:none;font-family:Verdana,Arial,Sans-serif;font-size:10px;float:left;margin:15px
0 -15px 0;min-width:520px;max-width:1200px;padding-bottom:5px;width:100%;z-index:1000}#addThis
ul{display:inline;float:left;margin:5px;width:100%;padding:0;list-style:none}#addThis
ul#moreShare{display:none}#addThis
li{background:none;float:left;margin:2px
0;padding:0;width:19.5%}#addThis ul#tops
li{width:16%}#addThis li:hover{background:#f7f7f7}#addThis li:hover,#share,#shareClose,.all{cursor:pointer}#share:hover{color:#3d3d3d}#share
.textLink{cursor:pointer;display:block;font-weight:normal;line-height:18px;margin-left:24px;width:300px}#shareClose{display:inline;float:right;position:relative;margin-bottom:-28px;top:-28px}.aolfav{background:url(/e2/rv4_images/shareSprites.gif) 0px 0px no-repeat}.buzz{background:url(/e2/rv4_images/shareSprites.gif) 0px -16px no-repeat}.delicious{background:url(/e2/rv4_images/shareSprites.gif) 0px -32px no-repeat}.digg{background:url(/e2/rv4_images/shareSprites.gif) 0px -48px no-repeat}.diigo{background:url(/e2/rv4_images/shareSprites.gif) 0px -64px no-repeat}.facebook{background:url(/e2/rv4_images/shareSprites.gif) 0px -80px no-repeat}.friendfeed{background:url(/e2/rv4_images/shareSprites.gif) 0px -96px no-repeat}.google{background:url(/e2/rv4_images/shareSprites.gif) 0px -112px no-repeat}.linkedin{background:url(/e2/rv4_images/shareSprites.gif) 0px -128px no-repeat}.live{background:url(/e2/rv4_images/shareSprites.gif) 0px -144px no-repeat}.mixx{background:url(/e2/rv4_images/shareSprites.gif) 0px -160px no-repeat}.myspace{background:url(/e2/rv4_images/shareSprites.gif) 0px -176px no-repeat}.newsvine{background:url(/e2/rv4_images/shareSprites.gif) 0px -192px no-repeat}.reddit{background:url(/e2/rv4_images/shareSprites.gif) 0px -208px no-repeat}.stumbleupon{background:url(/e2/rv4_images/shareSprites.gif) 0px -224px no-repeat}.technorati{background:url(/e2/rv4_images/shareSprites.gif) 0px -240px no-repeat}.twitter{background:url(/e2/rv4_images/shareSprites.gif) 0px -256px no-repeat}#articleFooter,#iconStrip{font-family:Verdana,Arial,Sans-serif;float:left;font-size:10px;min-width:520px;max-width:1200px;width:100%}#iconStrip{background:#f7f7f7;border-bottom:1px solid #939393;border-top:1px solid #939393;display:block;float:left;height:28px;margin:15px
0;padding:3px
0}#iconStripLeft{float:left}#iconStripRight{float:right}#iconStripRight
a{float:right;line-height:18px;margin:5px
10px 0 0}#iconStripRight
.textLink{font-weight:bold}#share{background:url(/e2/rv4_images/icon_sprites.gif) 0px -361px no-repeat}#shareClose{background:url(/e2/rv4_images/icon_sprites.gif) 0px -380px no-repeat}.article_sprite{display:block;float:left;height:19px;margin:5px
5px;width:19px}.block{clear:both;color:#fff;font-size:11px;height:26px;line-height:26px;padding-left:10px;text-transform:uppercase}.dark-gray{background:#4e4e4e}.gray_text{color:#b4b4b4}.icon_sprite{display:block;float:left;height:19px;margin:0
4px;width:19px}.share_sprite{display:inline;float:left;height:16px;margin:4px;width:16px}.share_sprite:hover{color:#3d3d3d}#tops .share_sprite
.textLink{width:80px}.share_sprite
.textLink{display:block;font-weight:normal;line-height:22px;margin-left:21px;height:24px;width:110px;position:relative;top:-4px}.share_sprite .textLink:hover{color:#3d3d3d;cursor:pointer}.footer{width:100%;height:100%;padding-bottom:10px;background-color:#707070}.footer
.container{width:971px;margin:0
auto;padding-top:10px}.left{position:relative;float:left;width:19.8%;background-color:#707070;height:135px;border-right:1px solid #858585}p.footerheading{font-size:14px;color:#fff;font-weight:bold;padding:0
10px;text-shadow:0px -1px 1px #333}.footer
.rv6links{list-style:none;padding-left:10px;font-size:12px}.footer .rv6links
li{padding-top:5px}.footer .rv6links
a{color:#fff;text-decoration:none;font-weight:normal}.footer .rv6links a:hover, .footer .rv6links a:focus{text-decoration:underline}.right{position:relative;float:right;right:0px;width:20%;background-color:#707070}.micrositeSocialMedia_001{width:100%;height:100%;font-family:Verdana,Helvetica,Arial,sans-serif;background:#ffda4d;background:-moz-linear-gradient(top, #606060 0%, #858585 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#858585));background:-webkit-linear-gradient(top, #606060 0%,#858585 100%);background:-o-linear-gradient(top, #606060 0%,#858585 100%);background:-ms-linear-gradient(top, #606060 0%,#858585 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#858585',GradientType=0 );background:linear-gradient(top, #606060 0%,#858585 100%);border-top:solid 1px #606060}.micrositeSocialMedia_001
p{color:#fff;text-shadow:0px -1px 1px #3d3d3d;text-align:center}.micrositeSocialMedia_001
p.title{font-size:18px;padding:5px
0}.micrositeSocialMedia_001 .icons
li{list-style-type:none;display:inline;margin:10px
3px 0 3px}.micrositeSocialMedia_001 .icons
img{margin:5px
0px}.micrositeSocialMedia_001
.icons{text-align:center;padding:0}.micrositeSocialMedia_001 .button-container{width:100%;margin:0
auto}.micrositeSocialMedia_001 .button, .micrositeSocialMedia_001 .button
a{position:relative;float:left;background:#eee}.micrositeSocialMedia_001
.button{width:100%;border-top:solid 1px #fff;border-right:solid 1px #fff;border-left:solid 1px #fff;border-bottom:none;margin:5px
0 0 -1px;clear:both;text-align:center}.micrositeSocialMedia_001 .button
a{float:right;width:99%;padding:3px
0px 3px 0px;border:1px
solid #dbdbdb;font-size:12px;text-decoration:none;text-shadow:0px 1px 1px #fff;color:#3d3d3d;text-align:center;background:-moz-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dbdbdb));background:-webkit-linear-gradient(top, #fefefe 0%,#dbdbdb 100%);background:-o-linear-gradient(top, #fefefe 0%,#dbdbdb 100%);background:-ms-linear-gradient(top, #fefefe 0%,#dbdbdb 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dbdbdb',GradientType=0 );background:linear-gradient(top, #fefefe 0%,#dbdbdb 100%)}.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus{border:1px
solid #ffd32a;background:#ffda4d;background:-moz-linear-gradient(top, #ffe068 0%, #ffd42a 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe068), color-stop(100%,#ffd42a));background:-webkit-linear-gradient(top, #ffe068 0%,#ffd42a 100%);background:-o-linear-gradient(top, #ffe068 0%,#ffd42a 100%);background:-ms-linear-gradient(top, #ffe068 0%,#ffd42a 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe068', endColorstr='#ffd42a',GradientType=0 );background:linear-gradient(top, #ffe068 0%,#ffd42a 100%)}.socialMediaControl_001
.socialMedia_control{padding-top:7px}.socialMediaControl_001 .socialMediaForm
label{float:left}.socialMediaControl_001 .socialMediaForm
input{margin-top:20px;margin-left:-6px}.socialMediaControl_001
#cssClass{margin-top:0px;margin-left:-10px}.socialMediaControl_001 #facebookalt, .socialMediaControl_001 #googlealt, .socialMediaControl_001 #twitteralt, .socialMediaControl_001 #pinterestalt, .socialMediaControl_001 #youtubealt, .socialMediaControl_001 #flickralt, .socialMediaControl_001 #vimeoalt, .socialMediaControl_001
#slidesharealt{margin-top:6px;width:222px}#overlay{background:url(/images/overlay.png) repeat;height:100%;left:0px;position:fixed;top:0px;width:100%;z-index:1999}#popup{background:transparent;display:none;left:50%;position:fixed;top:50%;z-index:2000}#ajaxContent,#iframeContent{clear:both;display:block;overflow:auto}#iframeContent, #iframeContent html, #iframeContent
body{background:transparent}#closeWindowButton{background:url(/images/addMedia_close_button.png) no-repeat;cursor:pointer;display:block;height:45px;left:636px;position:relative;top:64px;width:44px;z-index:9000}.widgetBox{position:relative;overflow:hidden}.widgetEditIcon{background:url(/images/global_sprite.png) no-repeat -362px -70px;display:block;height:25px;position:absolute;width:25px;right:0px;top:0px;z-index:1290}.widgetEditIconGreen{background:url(/images/global_sprite.png) no-repeat -337px -70px}.overlay{border:3px
solid #fecc0a}.overlayFill{background:#fc2;opacity:0.3}.overlayEffects{background:url(/images/overlay_striped_yellow.png) repeat}.overlay.hover{border:3px
dashed #7b8738}.overlay.hover
.overlayFill{background:#fff}.overlay.hover
.overlayEffects{background:url(/images/overlay_striped_green.png) repeat}.overlay.hover
.widgetEditIcon{background:url(/images/global_sprite.gif) no-repeat -230px -255px;width:108px}#addMediaContainer
h3{color:#fff;float:left;font-size:18px;font-weight:bold;line-height:1.2;margin:0.6em 0 0 12px}#librarySearch{display:inline;float:right;margin:12px
12px 0 0}#librarySearch
input{border:1px
solid #b4b4b4;color:#b4b4b4;font-size:11px;float:left;height:16px;line-height:16px;padding:2px
20px 0 2px;width:160px}#librarySearch
#searchIcon{background:url(/images/global_sprite.png) no-repeat -496px -16px;cursor:pointer;height:12px;left:167px;position:relative;top:4px;width:12px;z-index:5000}.grayBg
label{font-size:1.2em;color:#fff;margin:7px
12px}.grayBg
input{margin-top:7px}.grayBg input:focus{border:2px
solid #7b8738}#contentLibrary{clear:both;float:left;padding-bottom:1em;width:100%}#addMediaContainer
h3{margin-top:0.3em}#addMediaContainer
h4{color:#fff;float:left;font-weight:normal;font-style:italic;margin-top:14px;padding-left:15px}#librarySearch{margin-top:0.8em}#contentSelectWrapper,.contentList{clear:both;float:left}#contentSelectWrapper{padding:0.8em 0 0.3em 12px}.contentSelect{float:left;margin-right:20px}.contentSelect
select{width:180px}#addMediaContainer .contentSelect
h4{font-size:1.2em;font-style:normal;margin:0px
5px 0 0;padding:0}.contentList, .contentList li, .contentList li img,.boxLeft,.boxText,.boxRight{float:left}.contentList{padding:0
0 0 12px}.contentList
li{color:#3d3d3d;margin:0.4em 8px 0.4em 0;position:relative}.contentList li
.itemOverlay{background:#fc2;border:none;display:none;opacity:0.4;position:absolute;bottom:0;left:0;right:0;top:0;z-index:4000}.contentList
li.placeholder{background:#3d3d3d;border:1px
dashed #fc2;overflow:hidden}.contentList li
img{border:none;margin-top:1px}.contentList li
.boxText{padding:0
0 0 8px;width:218px}.contentList li
h5{font-size:1.2em;margin:0.3em 0 0.2em}.contentList li
h6{color:#5d5d5d;font-weight:normal}.contentList li h6
.author{font-weight:bold}.contentList li
.boxLeft{height:40px;width:8px}.contentList li
.boxContent{background:#f7f7f7;float:left;height:40px;width:284px}.contentList .article
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -179px -209px}.contentList .image
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -187px -209px}.contentList .video
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -195px -209px}.contentList .filler
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -203px -209px}.contentList .audio
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -211px -209px}.contentList .slideshow
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -219px -209px}.contentList li
.boxRight{background:url(/images/page_management_legends_sprite.gif) no-repeat -171px -209px;height:40px;width:8px}.contentList li
.deleteItem{background:url(/images/global_sprite.png) no-repeat scroll -240px -20px;height:11px;position:absolute;right:4px;top:4px;width:11px}.contentList li .deleteItem:hover{background-position:-251px -20px}.contentList li.itemHover
.itemOverlay{z-index:0}.contentList
li.availableDragging{opacity:0.6}.contentList li.ui-draggable-dragging{opacity:0.9}.ui-draggable,.ui-sortable-helper{cursor:move;z-index:4001}.ui-droppable{cursor:move}#libraryPag{clear:both;margin:0
auto;overflow:hidden;padding-top:8px;width:100px}#libraryPag h4, #libraryPag
a{color:#fff;float:left}#libraryPag
h4{border:1px
solid #b4b4b4;font-style:normal;height:15px;line-height:15px;margin:0;padding:0
8px}#libraryPag
a{height:17px;width:17px}#libraryPag
.libraryPrev{background:url(/images/global_sprite.gif) no-repeat scroll -136px -249px}#libraryPag
.libraryPrev.active{background:url(/images/global_sprite.gif) no-repeat scroll -136px -266px}#libraryPag
.libraryNext{background:url(/images/global_sprite.gif) no-repeat scroll -153px -249px}#libraryPag
.libraryNext.active{background:url(/images/global_sprite.gif) no-repeat scroll -153px -266px}